header{
color: rgb(231, 29, 29);
background-color: rgba(255, 229, 72, 255);
height: 20%;
width: 100%;
float: right;
text-align: center;
font-size: 30px;
}
header img{
    float: left;
    width: 70px;
    height: 40px;
    padding-top:10px;
    margin-right: 50px;
}

body{
color:rgb(231, 29, 29);
background-image: url("img/background.jpg");

}

#div1{
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(255, 229, 72, 255) ;
    width: 150px;
    height: 250px;
    border-radius: 5px;
}
input{
padding: 10px;
width: 80%;
height: 12px;
border-radius: 4px;
margin-left: auto;
margin-right: auto;
}
#sec1{
    float: left;
    width: 50%;
}
#sec2{
    float: right;
    width: 50%;
}
#showTable table,tr,td {
    width: 100%;
    border: 1px solid red;
    color: black;
  }
  
input[type=submit]{
      color: black;
      background-color: red;
      border-radius: 8px;
      font-size: 12px;
      width: 80%;
      height: 25px;
      padding-top: 2px;
      padding-bottom: 2px;
  }
p{
    text-align: center;
    font-size: 12px;
    width: 100%;
    height: 20%;
}